<div class="container">
  <mat-toolbar>
    <span>Order Management</span>
  </mat-toolbar>
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/images/canva-photo-editor.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/images/nyc.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/images/display_2.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
  <app-customers></app-customers>
  <router-outlet></router-outlet>
</div>

